
/* ==================== control ==================== */

#top-panel .control{
	position:fixed;
	background-color: rgba(255,255,255,0.5);
/*
	top:100px;
	right:100px;
*/
}

#top-panel .control>div{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 10px;
}

#top-panel .control>div>button{
	display: block;
	user-select:none;
}

/* ==================== view ==================== */

#top-panel .view{
	position:fixed;
	top:50px;
	left:50px;
}

#top-panel .view .coords{
	position: fixed;
	user-select:none;
	top: 30px;
	left: 50px;
	padding: 2px;
	font-family: 'Courier new';
	background-color: rgba(255,255,255,0.5);
	/*text-shadow: -1px 0px white, 1px 0px white, 0px -1px white, 0px 1px white;*/
}

#top-panel .view table{
	border-collapse: collapse;
}

#top-panel .view td{
	position: relative;
	width: 75px;
	min-width: 75px;
	height: 75px
}

#top-panel .view td .vector{
	position: absolute;
	left: 50%;
	top: 50%;

	transform-origin: 50% 0%;
	background: -webkit-linear-gradient(gray, hsl(var(--hue),100%,var(--light)) );
	background-position: 50% 0%;

	border: 1px solid gray;
}

#top-panel .view td .vector:after{
	position: absolute;
	left: 0%;
	top: 100%;

	width: 5px;
	height: 5px;
	content: '';

	background-color: var(--clr);

	border: 1px solid gray;
}

#top-panel .view canvas{
	border: 2px solid red;
}
